* {
    box-sizing: border-box;
}

body {
    margin: 40px;
    font-family: instrument-sans;
    background: rgb(142, 240, 227);
}

header {
    background: #ACD6E8;
    color: white; 
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

nav {
    background: #ACD6E8;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.container-fluid {
    text-align: center;
}

.left {
    width: 70%;
}

section,
article,
aside {
    background: #ACD6E8;
    color: white;
    padding: 20px;
}

section {
    height: 220px;
    margin-bottom: 10px;

}

article {
    height: 460px;
    border: 10%;
}

aside {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 690px;
    border-radius: 10%;
}

footer {
    background: #ACD6E8;
    text-align: center;
    color: white;
    padding: 2px;
}

img {
   padding: 20px; 
   border-radius: 10%;

}


